<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
                 xmlns:th="http://www.thymeleaf.org"
                xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <script>
        function authorizationCode() {
            window.location = new URL('http://localhost:8081/oauth2/authorization/keycloak');
        }
        function authorizationCodeWithPKCE() {
            window.location = new URL('http://localhost:8081/oauth2/authorization/keycloakWithPKCE');
        }
        function implicit() {
            window.location = new URL('http://localhost:8081/oauth2/authorization/keycloak2');
        }
    </script>

</head>
<body>

    <div sec:authorize="isAuthenticated()"><a th:href="@{/logout}">logout</a></div>
    <form sec:authorize="isAnonymous()" action="#">
        <p><input type="button" onclick="authorizationCode()" value="AuthorizationCode Grant"/> </p>
        <p><input type="button" onclick="authorizationCodeWithPKCE()" value="AuthorizationCode With PKCE"/> </p>
        <p><input type="button" onclick="implicit()" value="implicit Grant"/> </p>
    </form>

</body>
</html>